* {
    margin: 0;
    padding: 0;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul {
    list-style-type: none;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }

body {
    display: flex;
    background: url(/landing-first/img/photo_2023-06-11_16-15-12.jpg)
    justify-content: center;
    align-items: center;
}

.wrapper {
  /*   display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    border: 2px solid black;
}

.container {
    min-width: 50%;
    min-height: 50%;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    /* height: auto; */
}

.header-center {
  display: flex;
  justify-content:space-around;
  align-items: center;
}


/* 
.nav__list {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.nav__item {
    text-decoration: none;
} */

.nav__item::marker {
    content: "";
    color: green;
}

main {
    background-color: beige;
    margin: 15px;
    text-align: center;
}

.footer {
    background-color: cornsilk;
}